[submodule "proxy"]
	path = proxy
	url = git://github.com/wynemo/501fun_proxy.git
[submodule "dictmd"]
	path = dictmd
	url = git://github.com/wynemo/dictmd.git
[submodule "501fun_t_api"]
	path = 501fun_t_api
	url = git://github.com/wynemo/501fun_t_api.git
[submodule "pac"]
	path = pac
	url = git://github.com/wynemo/501fun_pac.git
