<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>      
        <title>autopac</title>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
        <!--<link href="/dp/web_develop/elastic/screen.css" type="text/css" rel="stylesheet" /> --> 
    </head>
    <body>
   <style type="text/css">
   textarea {
       border: 5px solid #eee; padding: 5px; width: 80%;
       font: 14px/18px 'Helvetica', 'Arial', 'sans-serif';
   }
   </style>
       
        <form name="t_auth" action="/autopac" method="post">
            <textarea class="input" style="max-height: 200px;" name="myarea">write white list,seperate with ","</textarea>
            <p>
            Proxy Type:
            <input type=radio name=ptype value="SOCKS5"> SOCKS5
            <input type=radio name=ptype value="HTTP" checked="checked"> HTTP<p>
            Port:
            <input type=text name=port maxlength=5 value="8080"><p>
            <input type="checkbox" name="sptssl" value="1" checked>support https<p>
            <button type="submit">submit</button><p>

        </form>


        <script type="text/javascript" 
            src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"> 
        </script>
        <script 
            src="/dp/web_develop/elastic/jquery.elastic.source.js" 
            type="text/javascript" charset="utf-8">
        </script>
        <script type="text/javascript">
            // <![CDATA[
            $$(document).ready(function(){           
                $$('textarea').elastic();
                $$('textarea').trigger('update');
            }); 
            // ]]>
        </script>
        

        
    </body>
</html>
