$def with ()
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>anopi</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<script type="text/javascript" 
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js">
</script>
<script type="text/javascript" >
function auth() {

    var message1 = $$.ajax({
                   type: "POST",
                   url: "/auth",
                   //data: dataString,
                   async: false
                }).responseText;
   $$('.auth_url').append($$(message1));
   return false;

}
</script>


<form name="t_auth">
<p> <input class="buttonauth" type="button" value="auth" onclick="return auth();"/></p>
</form>

<div class="auth_url">
</div>
     
     
</body>
</html>
